<?xml version="1.0"?>
<robot name="robotiq_arg2f_140_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="/home/erle/ros_ur_ws/src/robotiq/robotiq_arg2f_model_visualization/urdf/robotiq_arg2f_140_model_macro.xacro" />
  <xacro:robotiq_arg2f_140 prefix=""/>
<!--
  <gazebo>
    <plugin name="robotiq_arg2f_gazebo_plugins" filename="libRobotiq140Plugin.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1</updateRate>
    </plugin>
  </gazebo>
-->
</robot>
