<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="robotiq_hande" >

  <!-- robotiq hande_gripper -->
  <xacro:include filename="$(find robotiq_hande_gripper_description)/urdf/hande_gripper.urdf.xacro" />
  <xacro:robotiq_hande prefix=""/>

  <link name="world" />

  <joint name="world_to_hande_joint" type="fixed">
    <origin rpy="0 1.57 0" xyz="0 0 0.5"/>
    <parent link="world"/>
    <child link="robotiq_hande_base_link"/>
  </joint>

</robot>
