<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robotiq_hande"  params="prefix">
    <link name="robotiq_hande_base_link">
      <inertial>
        <origin xyz="8.625E-08 -4.6583E-06 0.03145" rpy="0 0 0" />
        <mass value="0.22652" />
        <inertia ixx="0.00020005" ixy="0" ixz="0" iyy="0.00017832" iyz="0" izz="0.00013478" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 1.57" />
        <geometry>
          <mesh filename="package://robotiq_hande_gripper_description/meshes/hand-e.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Gazebo/Black">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 1.57" />
        <geometry>
          <mesh filename="package://robotiq_hande_gripper_description/meshes/hand-e.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="robotiq_hande_base_link">
      <material>Gazebo/Black</material>
      <selfCollide>True</selfCollide>
    </gazebo>

    <link name="finger1">
      <inertial>
        <origin rpy="0 0 0" xyz="8.625E-08 -4.6583E-06 0.03145"/>
        <mass value="0.22652"/>
        <inertia ixx="0.00020005" ixy="0" ixz="0" iyy="0.00017832" iyz="0" izz="0.00013478"/>
      </inertial>
      <visual>
        <origin rpy="0 0 1.57" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://robotiq_hande_gripper_description/meshes/finger_1.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Gazebo/Grey">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 1.57" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://robotiq_hande_gripper_description/meshes/finger_1.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="finger1">
      <material>Gazebo/Grey</material>
      <selfCollide>True</selfCollide>
    </gazebo>

    <link name="finger2">
      <inertial>
        <origin rpy="0 0 0" xyz="8.625E-08 -4.6583E-06 0.03145"/>
        <mass value="0.22652"/>
        <inertia ixx="0.00020005" ixy="0" ixz="0" iyy="0.00017832" iyz="0" izz="0.00013478"/>
      </inertial>
      <visual>
        <origin rpy="0 0 1.57" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://robotiq_hande_gripper_description/meshes/finger_2.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Gazebo/Grey">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 1.57" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://robotiq_hande_gripper_description/meshes/finger_2.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="finger2">
      <material>Gazebo/Grey</material>
      <selfCollide>True</selfCollide>
    </gazebo>

    <gazebo>
      <plugin filename="librobotiq_linear_gripper_gazebo_plugin.so" name="robotiq_hande_gripper">
        <left_joint>finger1_joint</left_joint>
        <right_joint>finger2_joint</right_joint>
      </plugin>
    </gazebo>

    <joint name="finger1_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <parent link="robotiq_hande_base_link"/>
      <child link="finger1"/>
    </joint>

    <joint name="finger2_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <parent link="robotiq_hande_base_link"/>
      <child link="finger2"/>
    </joint>

  </xacro:macro>
</robot>
