<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="robotiq_gripper" >

  <!-- robotiq hande_gripper -->
  <xacro:include filename="$(find robotiq_140_gripper_description)/urdf/robotiq_140.urdf.xacro" />
  <xacro:robotiq_gripper prefix="robotiq_140"/>

  <link name="world" />

  <joint name="world_to_hande_joint" type="fixed">
    <origin rpy="0 0 1.57" xyz="0 0 0.5"/>
    <parent link="world"/>
    <child link="robotiq_adapter_link"/>
  </joint>

</robot>
