<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mara_camera_gripper_support" params="prefix">
    <link name="${prefix}mara_gripper_adapter">
      <inertial>
        <origin rpy="0 0 0" xyz="8.625E-08 -4.6583E-06 0.03145"/>
        <mass value="0.1"/>
        <inertia ixx="0.00739172" ixy="-0.00001" ixz="0.0" iyy="0.00739172" iyz="0.0" izz="0.0147358995"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mara_description/meshes/ROBOTIQ_Gripper_Adapter.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Gazebo/Wood">
          <color rgba="0. 0. 0. 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mara_description/meshes/ROBOTIQ_Gripper_Adapter.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}mara_gripper_adapter">
      <material>Gazebo/Black</material>
      <selfCollide>True</selfCollide>
    </gazebo>

    <link name="${prefix}mara_camera_support1_link">
      <inertial>
        <origin rpy="0 0 0" xyz="8.625E-08 -4.6583E-06 0.03145"/>
        <mass value="0.1"/>
        <inertia ixx="0.00739172" ixy="-0.00001" ixz="0.0" iyy="0.00739172" iyz="0.0" izz="0.0147358995"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mara_description/meshes/Camera_Support_1.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Gazebo/Wood">
          <color rgba="0. 0. 0. 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mara_description/meshes/Camera_Support_1.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}mara_camera_support1_link">
      <material>Gazebo/Black</material>
      <selfCollide>True</selfCollide>
    </gazebo>

    <link name="${prefix}mara_camera_support2_link">
      <inertial>
        <origin rpy="0 0 0" xyz="8.625E-08 -4.6583E-06 0.03145"/>
        <mass value="0.1"/>
        <inertia ixx="0.00739172" ixy="-0.00001" ixz="0.0" iyy="0.00739172" iyz="0.0" izz="0.0147358995"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mara_description/meshes/Camera_Support_2.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Gazebo/Wood">
          <color rgba="0. 0. 0. 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mara_description/meshes/Camera_Support_2.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}mara_camera_support2_link">
      <material>Gazebo/Black</material>
      <selfCollide>True</selfCollide>
    </gazebo>

    <joint name="${prefix}gripper_adapter_to_camera_support1" type="fixed">
      <origin rpy="0 0 0" xyz="0 0.03956 -0.0213"/>
      <parent link="${prefix}mara_gripper_adapter"/>
      <child link="${prefix}mara_camera_support1_link"/>
    </joint>

    <joint name="${prefix}camera_support1_to_support2" type="fixed">
      <origin rpy="0 0 0" xyz="0 0.01029 -0.0128"/>
      <parent link="${prefix}mara_camera_support1_link"/>
      <child link="${prefix}mara_camera_support2_link"/>
    </joint>
  </xacro:macro>
</robot>
