<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mara" >

  <!-- common stuff -->
  <xacro:include filename="$(find mara_description)/urdf/mara_gazebo.urdf.xacro" />

  <!-- mara -->
  <xacro:include filename="$(find mara_description)/urdf/mara.urdf.xacro" />

  <!-- robotiq 85 gripper -->
  <xacro:include filename="$(find robotiq_85_gripper_description)/urdf/robotiq_85.urdf.xacro" />

  <xacro:include filename="$(find mara_description)/urdf/table.urdf.xacro" />

  <!-- arm -->
  <xacro:mara_robot prefix="" ee_link_distance="0.165"/>
  <xacro:robotiq_85 prefix="mara" />
  <xacro:table prefix="" />

  <link name="world" />

  <joint name="end_effector_adapter_to_robotiq" type="fixed">
    <origin rpy="0 0 0" xyz=" 0 0 0.0"/>
    <parent link="motor6_link"/>
    <child link="robotiq_adapter_link"/>
  </joint>

  <joint name="world_to_table_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.02"/>
    <parent link="world"/>
    <child link="table"/>
  </joint>

  <joint name="table_to_base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.62"/>
    <parent link="table"/>
    <child link="base_link"/>
  </joint>

</robot>
