<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mara" >

  <!-- common stuff -->
  <xacro:include filename="$(find mara_description)/urdf/mara_gazebo.urdf.xacro" />

  <xacro:include filename="$(find mara_description)/urdf/mara.urdf.xacro" />

  <!-- <xacro:include filename="$(find robotiq_140_gripper_description)/urdf/robotiq_140.urdf.xacro" /> -->

  <xacro:mara_robot prefix="" ee_link_distance="0.24"/>
  <!-- <xacro:robotiq_gripper prefix="mara" /> -->

  <link name="world" />

  <!-- <joint name="end_effector_adapter_to_robotiq" type="fixed">
    <origin rpy="0 0 1.57" xyz=" 0 0 0.0353"/>
    <parent link="motor6_link"/>
    <child link="robotiq_arg2f_base_link"/>
  </joint> -->

  <joint name="table_to_base_joint" type="fixed">
    <origin rpy="0 0 1.57" xyz="0 0 0.0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

</robot>
