<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mara" >
  <!-- common stuff -->
  <xacro:include filename="$(find mara_description)/urdf/mara_gazebo.urdf.xacro" />

  <!-- mara -->
  <xacro:include filename="$(find mara_description)/urdf/mara.urdf.xacro" />

  <!-- robotiq hande gripper -->
  <xacro:include filename="$(find robotiq_hande_gripper_description)/urdf/robotiq_hande.urdf.xacro" />

  <xacro:include filename="$(find mara_description)/urdf/table.urdf.xacro" />

  <!-- arm -->
  <xacro:mara_robot prefix="" ee_link_distance="0.18253" MAC1="_000000000001" MAC2="_000000000002" MAC3="_000000000003"/>
  <xacro:robotiq_hande prefix="" MAC="_000000000004"/>
  <xacro:table prefix="" />

  <link name="world" />

  <link name="gripper_adapter">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.0173"/>
      <mass value="0.14"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0002"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mara_description/meshes/gripper_adapter.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Gazebo/Wood">
        <color rgba="0. 0. 0. 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://mara_description/meshes/gripper_adapter.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="gripper_adapter">
    <material>Gazebo/Black</material>
    <selfCollide>True</selfCollide>
  </gazebo>

  <link name="robotiq_adapter_link">
    <inertial>
      <origin xyz="0 0 -0.0253" rpy="0 0 0" />
      <mass value="0.317" />
      <inertia ixx="298526E-9" ixy="3928E-9" ixz="-926E-9" iyy="354661E-9" iyz="42E-9" izz="415572E-9" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mara_description/meshes/robotiq_adapter.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Gazebo/Black">
        <color rgba="0.0 0.0 0.0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mara_description/meshes/robotiq_adapter.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="robotiq_adapter_link">
    <material>Gazebo/Black</material>
    <selfCollide>True</selfCollide>
  </gazebo>

  <joint name="world_to_table_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.02"/>
    <parent link="world"/>
    <child link="table"/>
  </joint>

  <joint name="table_to_base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.62"/>
    <parent link="table"/>
    <child link="base_link"/>
  </joint>

  <joint name="motor6_to_gripper_adapter" type="fixed">
    <origin rpy="0 0 0" xyz=" 0 0 -0.02026"/>
    <parent link="motor6_link"/>
    <child link="gripper_adapter"/>
  </joint>

  <joint name="gripper_adapter_to_robotiq_adapter" type="fixed">
    <origin rpy="0 0 0" xyz=" 0 0 0.05679"/>
    <parent link="gripper_adapter"/>
    <child link="robotiq_adapter_link"/>
  </joint>

  <joint name="robotiq_adapter_to_hande_base" type="fixed">
    <origin rpy="0 0 0" xyz=" 0 0 0"/>
    <parent link="robotiq_adapter_link"/>
    <child link="robotiq_hande_base_link"/>
  </joint>
</robot>
