<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="mara_gazebo" params="prefix">

    <gazebo>
      <plugin name="mara_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
    		<ros>
    			<argument>~/out:=joint_states</argument>
    		</ros>
    		<update_rate>25</update_rate>
    		<joint_name>motor1</joint_name>
    		<joint_name>motor2</joint_name>
    		<joint_name>motor3</joint_name>
    		<joint_name>motor4</joint_name>
    		<joint_name>motor5</joint_name>
        <joint_name>motor6</joint_name>
        <joint_name>left_inner_knuckle_joint</joint_name>
        <joint_name>left_outer_knuckle_joint</joint_name>
        <joint_name>left_outer_finger_joint</joint_name>
        <joint_name>left_inner_finger_joint</joint_name>
        <joint_name>right_inner_knuckle_joint</joint_name>
        <joint_name>right_outer_knuckle_joint</joint_name>
        <joint_name>right_outer_finger_joint</joint_name>
        <joint_name>right_inner_finger_joint</joint_name>
    	</plugin>

      <plugin name="hros_actuation_servomotor_000000000001" filename="libmara_gazebo_joint_plugin.so">
        <ros></ros>
        <axis1>motor2</axis1>
        <axis2>motor1</axis2>
        <type>series14</type>
      </plugin>

      <plugin name="hros_actuation_servomotor_000000000002" filename="libmara_gazebo_joint_plugin.so">
        <ros></ros>
        <axis1>motor3</axis1>
        <axis2>motor4</axis2>
        <type>series17</type>
      </plugin>

      <plugin name="hros_actuation_servomotor_000000000003" filename="libmara_gazebo_joint_plugin.so">
        <ros></ros>
        <axis1>motor5</axis1>
        <axis2>motor6</axis2>
        <type>series20</type>
      </plugin>

    </gazebo>
  </xacro:macro>
</robot>
