<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mara_gazebo_train" params="prefix MAC0">
    <gazebo>
      <plugin filename="libmara_gazebo_joint_training_plugin.so" name="hrim_actuator_rotaryservo${MAC0}">
        <ros/>
        <axis1>${prefix}motor2</axis1>
        <axis2>${prefix}motor1</axis2>
        <axis3>${prefix}motor3</axis3>
        <axis4>${prefix}motor4</axis4>
        <axis5>${prefix}motor5</axis5>
        <axis6>${prefix}motor6</axis6>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
